div.person {
    display: inline;
    float: left;
    margin-top: 10vh;
    margin-left: -2vw;
    div {
        background: black;
        visibility: hidden;
    }
    div.head {
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
    }
    div.body {
        width: 5px;
        height: 80px;
        margin-top: -2vw;
        margin-left: calc(2vw - 2.5px);
    }
    div.left-arm {
        transform: rotate(-45deg);
        width: 5px;
        height: 4vh;
        margin-left: 1vw;
    }
    div.right-arm {
        transform: rotate(-135deg);
        width: 5px;
        height: 4vh;
        margin-left: calc(3vw - 4px);
        margin-top: -83px;
    }
    div.left-leg {
        transform: rotate(45deg);
        width: 5px;
        height: 4vh;
        margin-left: 1vw;
        margin-top: calc(5vh - 5px);
    }
    div.right-leg {
        transform: rotate(135deg);
        width: 5px;
        height: 4vh;
        margin-left: calc(3vw - 5px);
        margin-top: calc(-5vh + 5px);
    }
}